/* .navbar {
  height: 70px;
  background: #0f172a;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
  font-family: "Segoe UI", sans-serif;
}

.logo {
  font-size: 20px;
  font-weight: bold;
}

.nav-links a {
  color: white;
  margin-right: 20px;
  text-decoration: none;
  transition: 0.3s;
}

.nav-links a:hover {
  color: #38bdf8;
}

.logout-btn {
  padding: 6px 14px;
  background: #ef4444;
  border: none;
  border-radius: 6px;
  color: white;
  cursor: pointer;
} */












/* NAVBAR CONTAINER */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 60px;
  background: #ffffff;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.08);
  position: sticky;
  top: 0;
  z-index: 1000;
}

/* LOGO TEXT */
.logo {
  font-size: 24px;
  font-weight: 800;
  letter-spacing: 1px;
  color: #501606; /* deep premium color */
  cursor: pointer;
  transition: 0.3s ease;
}

.logo:hover {
  opacity: 0.85;
}

/* NAV LINKS CONTAINER */
.nav-links {
  display: flex;
  align-items: center;
  gap: 30px;
}

/* NAV LINKS */
.nav-links a {
  text-decoration: none;
  font-size: 15px;
  font-weight: 600;
  color: #333;
  transition: all 0.3s ease;
  position: relative;
}

/* Underline hover effect */
.nav-links a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 0%;
  height: 2px;
  background: #501606;
  transition: 0.3s ease;
}

.nav-links a:hover {
  color: #501606;
}

.nav-links a:hover::after {
  width: 100%;
}

/* LOGOUT BUTTON */
.logout-btn {
  background: #501606;
  color: white;
  border: none;
  padding: 8px 18px;
  border-radius: 25px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s ease;
}

.logout-btn:hover {
  background: #a98775;
  transform: translateY(-2px);
  box-shadow: 0 8px 18px rgba(0, 0, 0, 0.2);
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .navbar {
    padding: 15px 25px;
  }

  .logo {
    font-size: 20px;
  }

  .nav-links {
    gap: 18px;
  }

  .nav-links a {
    font-size: 14px;
  }
}
